{%extends "dit.html"%}
{% block body %}
    <meta charset="UTF-8">
    <title>{% block title %}FAQ{% endblock %}</title>
    <p>Beurtvaart was een vorm van scheepvaart, waarbij passagiers, vracht en vee volgens een dienstregeling langs een vast traject werden vervoerd. Het was het eerste openbaar vervoer in Nederland en het was eeuwenlang aan vergunningen en verordeningen van de steden gebonden. Het woord 'beurt' duidt in deze context op de geregelde volgorde waarin schippers moesten varen.

Beurtvaart ontstond in de vijftiende eeuw in de waterrijke kustgebieden van Holland. Van daaruit werden ook verbindingen met andere delen van de Nederlanden tot stand gebracht, plus enkele met buitenlandse steden. In omringende landen hebben eveneens soortgelijke diensten bestaan, althans op kortere afstanden. Maar het groeide alleen in de Nederlanden in de zeventiende en achttiende eeuw uit tot een omvangrijk en efficiënt netwerk. (Lees verder)</p>
{% endblock %}