{%extends "dit.html"%}
{% block body %}

<title>{% block title %}JoeriBOT-{{name}}- Conversatie{% endblock %}</title>
    <form action="/back" method="post">
        <input type="hidden" name="user" value="{{ name }}">
        <button type="submit">Terug</button>
    </form>

    <script SameSite="None; Secure" type="module" src="https://cdn.landbot.io/landbot-3/landbot-3.0.0.mjs"></script>
    <div id="myLandbot" style="width: 100%; height: px"></div>
    <script type="module">
      var myLandbot = new Landbot.Container({
        container: '#myLandbot',
        configUrl: 'https://storage.googleapis.com/landbot.online/v3/H-3319735-KZGXN0MFR63WEZ68/index.json',
      });
    </script>

{% endblock %}