body {
  margin: 0;
  font-family: sans-serif;
  background: #f4f4f4;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
